<!--<div class="row">-->
  <!--<div class="col-xs-12 col-sm-10 col-md-6 form">-->




    <!--<div class="alert {{alertClase}}">-->
      <!--{{message}}-->
    <!--</div>-->

    <!--<img src="/assets/WEB LOGO.png" height="100" class="form" >-->
    <!--<form [formGroup]="signInForm" (ngSubmit)="onSignIn(f)" #f="ngForm">-->
      <!--<div class="form-group">-->
        <!--<label>Username</label>-->
        <!--<input-->
          <!--type="text"-->
          <!--id="username"-->
          <!--formControlName="username"-->
          <!--class="form-control"-->
          <!--maxlength="15">-->

      <!--</div>-->

      <!--<div class="form-group">-->
        <!--<label>Password</label>-->
        <!--<input-->
          <!--type="text"-->
          <!--id="password"-->
          <!--formControlName="password"-->
          <!--class="form-control"-->
          <!--maxlength="30">-->
        <!--&lt;!&ndash;<span&ndash;&gt;-->
          <!--&lt;!&ndash;*ngIf="!signInForm.get('password').valid && signInForm.get('password').touched"&ndash;&gt;-->
          <!--&lt;!&ndash;class="help-block">*Please enter a valid  password!</span>&ndash;&gt;-->
      <!--</div>-->

      <!--<button [disabled]="f.invalid" class="btn btn-primary signin" type="submit">Sign In</button>-->
      <!--<a  class="signup " routerLink="/signup">Create a account </a>-->

    <!--</form>-->

    <!--<button (click)="socialSignIn('facebook')">Sign in with Facebook</button>-->
    <!--<button (click)="socialSignIn('google')">Sign in with Google</button>-->


  <!--</div>-->

<!--</div>-->






<h3 mat-dialog-title>Sign In</h3>
<div mat-dialog-content>



  <div class="alert {{alertClase}}">
    {{message}}
  </div>


  <form [formGroup]="signInForm" (ngSubmit)="onSignIn(f)" #f="ngForm">
    <div class="form-group">
      <label>Username</label>
      <input
        type="text"
        id="username"
        formControlName="username"
        class="form-control"
        maxlength="15">

    </div>

    <div class="form-group">
      <label>Password</label>
      <input
        type="text"
        id="password"
        formControlName="password"
        class="form-control"
        maxlength="30">
      <!--<span-->
      <!--*ngIf="!signInForm.get('password').valid && signInForm.get('password').touched"-->
      <!--class="help-block">*Please enter a valid  password!</span>-->
    </div>

    <button [disabled]="f.invalid" class="btn btn-primary signin" type="submit">Sign In</button>
    <a  class="signup " (click)="signUp()">Create a account </a>

  </form>

  <div class="social-login">
    <!--<button mat-icon-button  (click)="socialSignIn('facebook')">-->
    <!--<mat-icon aria-label="Example icon-button with a heart icon">facebook</mat-icon>-->
    <!--</button>-->
    <!--<button (click)="socialSignIn('facebook')">Sign in with Facebook</button>-->
    <!--<button (click)="socialSignIn('google')">Sign in with Google</button>-->
    <div class="btns">
    <i class="fa fa-facebook fa-3x">facebook</i>
    </div>
    <div class="btns">
    <i class="fa fa-google fa-3x" (click)="socialSignIn('google')">oogle</i>
    </div>



  </div>





</div>

