.row {
  margin-top: 50px;
}
input.ng-invalid.ng-touched{
  border: 1px solid red;
}
.form {
  position: relative;

  left: 50%;
  transform: translate(-50%, 0%);
}

.block {
  width: 100%;
}

/*.row {*/
  /*margin-top: 15px;*/
/*}*/

/*h4 {*/
  /*margin-top: 15px;*/
/*}*/

/*.bed_option .multiply {*/

/*margin-top: 40px;*/
  /*margin-left: 5px;*/
  /*margin-right: 5px;*/


/*}*/
.roomSizeClass{
  display: inline-block;
}
.roomSizeClass2{
display: inline-block;
}

.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.form-group{
  margin-left: 5px;
  margin-right: 5px;
}
.form-group {
  background-color: white;
  padding: 15px;
}
.couple{
  margin-top: 15px;
}
.overview{
  margin-top: 15px;
}
.overview span{
  margin-left: 25px;
  margin-right: 25px;
}
.overview button{
  margin-left: 10px;
}
.noroom{
  text-align: center;
  margin-bottom: 25px;
  margin-top: 25px;
}
.addanother{
  width: 100px;
}
