.out {
  margin-top: 50px;
}

.form {
  position: relative;

  left: 50%;
  transform: translate(-50%, 0%);
}

.block {
  width: 100%;
}

.form-group {
  background-color: white;
  padding: 15px;
}

.content {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);

  /*width: 250px;*/
}
.couple{
  margin-top: 15px;
}

/*content2{*/
/*left: 50%;*/
/*transform: translate(-50%, 0%);*/
/*border: 1px solid red;*/
/*}*/
.warning {
  padding: 10px;
  margin-top: 15px;
  border: 1px solid blue;
  border-radius: 5px;
  background-color: #b6b8c3;
}

.warning-header {
  display: inline-block;
}

mat-slide-toggle {
  float: right;
  margin: 10px 0px 10px 0px;
}

h5 {
  margin: 10px 0px 10px 0px;
}
select{
  margin-bottom: 10px ;
}
.check-in{
display: inline-block;
  border-radius: 5px;
  border: 1px solid blue ;
}
.check-out{

  border-radius: 5px;
  border: 1px solid blue ;
  float: right;
}
.btn-group label{
  margin-right: 5px;
}
.pets1{
  display: inline-block;
}
.pets2{
  float: right;
}

.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
mat-radio-button {
  margin-right: 15px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.example-full-width {
  width: 100%;
}
