<app-header *ngIf="router.url.includes('home-page'); else header2"></app-header>
<ng-template #header2> <app-seconde-header></app-seconde-header></ng-template>

<!--<ng-container  *ngIf="isLoggedIn$ | async as isLoggedIn">-->
  <!--<app-side-nav  *ngIf="isEdit$  | async as isEdit"></app-side-nav >-->
<!--</ng-container>-->
<ng-container  *ngIf="router.url.includes('result-page(')">
<app-side-nav  *ngIf="!router.url.includes('signin')"></app-side-nav >
</ng-container>
<!--*ngIf="!router.urlTree.contains(router.createUrlTree(['/signin']))"-->

<!--<ng-template #signIn><app-signin></app-signin></ng-template>-->
<router-outlet  *ngIf="!router.url.includes('result-page(')"></router-outlet>

<app-footer2></app-footer2>
<!--<app-map></app-map>-->

